In [ ]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [ ]:
# Read in 2019 NYC data
nyc_may1 = "NYC/may_2019.csv"
nyc_may1_df = pd.read_csv(nyc_may1)
nyc_may1_df

In [ ]:
# Check May df info
nyc_may1_df.info()

In [ ]:
nyc_may2 = "NYC/may_2020.csv"
nyc_may2_df = pd.read_csv(nyc_may2)
nyc_may2_df

In [ ]:
nyc_may2_df.info()

In [ ]:
nyc_may_df = pd.concat([nyc_may1_df, nyc_may2_df],0)
nyc_may_df

In [ ]:
nyc_may_df.info()

In [ ]:
nyc_june1 = "NYC/june_2019.csv"
nyc_june1_df = pd.read_csv(nyc_june1)
nyc_june1_df

In [ ]:
nyc_june1_df.info()

In [ ]:
nyc_june2 = "NYC/june_2020.csv"
nyc_june2_df = pd.read_csv(nyc_june2)
nyc_june2_df

In [ ]:
nyc_june2_df.info()

In [ ]:
nyc_june_df = pd.concat([nyc_june1_df, nyc_june2_df],0)
nyc_june_df

In [ ]:
nyc_june_df.info()

In [ ]:
nyc_july1 = "NYC/july_2019.csv"
nyc_july1_df = pd.read_csv(nyc_july1)
nyc_july1_df

In [ ]:
nyc_july1_df.info()

In [ ]:
nyc_july2 = "NYC/july_2020.csv"
nyc_july2_df = pd.read_csv(nyc_july2)
nyc_july2_df

In [ ]:
nyc_july2_df.info()

In [ ]:
nyc_july_df = pd.concat([nyc_july1_df, nyc_july2_df],0)
nyc_july_df

In [ ]:
nyc_july_df.info()

In [ ]:
nyc_aug1 = "NYC/aug_2019.csv"
nyc_aug1_df = pd.read_csv(nyc_aug1)
nyc_aug1_df

In [ ]:
nyc_aug1_df.info()

In [ ]:
nyc_aug2 = "NYC/aug_2020.csv"
nyc_aug2_df = pd.read_csv(nyc_aug2)
nyc_aug2_df

In [ ]:
nyc_aug2_df.info()

In [ ]:
nyc_aug_df = pd.concat([nyc_aug1_df, nyc_aug2_df],0)
nyc_aug_df

In [ ]:
nyc_aug_df.info()

In [ ]:
NYC_Data_df = pd.concat([nyc_may_df, nyc_june_df, nyc_july_df, nyc_aug_df],0)
NYC_Data_df

In [ ]:
jc_may1 = "JC/may_2019.csv"
jc_may1_df = pd.read_csv(jc_may1)
jc_may1_df

In [ ]:
jc_may1_df.info()

In [ ]:
jc_may2 = "JC/may_2020.csv"
jc_may2_df = pd.read_csv(jc_may2)
jc_may2_df

In [ ]:
jc_may2_df.info()

In [ ]:
jc_may_df = pd.concat([jc_may1_df, jc_may2_df],0)
jc_may_df

In [ ]:
jc_may_df.info()

In [ ]:
jc_june1 = "JC/june_2019.csv"
jc_june1_df = pd.read_csv(jc_june1)
jc_june1_df

In [ ]:
jc_june1_df.info()

In [ ]:
jc_june2 = "JC/june_2020.csv"
jc_june2_df = pd.read_csv(jc_june2)
jc_june2_df

In [ ]:
jc_june2_df.info()

In [ ]:
jc_june_df = pd.concat([jc_june1_df, jc_june2_df],0)
jc_june_df

In [ ]:
jc_june_df.info()

In [ ]:
jc_july1 = "JC/june_2019.csv"
jc_july1_df = pd.read_csv(jc_july1)
jc_july1_df

In [ ]:
jc_july1_df.info()

In [ ]:
jc_july2= "JC/june_2020.csv"
jc_july2_df = pd.read_csv(jc_july2)
jc_july2_df

In [ ]:
jc_july2_df.info()

In [ ]:
jc_july_df = pd.concat([jc_july1_df, jc_july2_df],0)
jc_july_df

In [ ]:
jc_july_df.info()

In [48]:
jc_aug1 = "JC/aug_2019.csv"
jc_aug1_df = pd.read_csv(jc_aug1)
jc_aug1_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,2019-08-01 00:23:06.9910,2019-08-01 00:25:59.1480,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,2019-08-01 00:23:28.6170,2019-08-01 00:32:13.7000,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,2019-08-01 00:32:36.1410,2019-08-01 00:36:15.2730,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717733,-74.043845,29598,Subscriber,1988,1
4,262,2019-08-01 00:41:26.6700,2019-08-01 00:45:49.3530,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,384,2019-08-31 23:40:45.2450,2019-08-31 23:47:09.8810,3639,Harborside,40.719252,-74.034234,3203,Hamilton Park,40.727596,-74.044247,29522,Subscriber,1988,1
48707,633,2019-08-31 23:45:55.6660,2019-08-31 23:56:29.5350,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,29679,Customer,1997,1
48708,324,2019-08-31 23:50:27.9220,2019-08-31 23:55:52.8420,3276,Marin Light Rail,40.714584,-74.042817,3211,Newark Ave,40.721525,-74.046305,26198,Subscriber,1997,2
48709,126,2019-08-31 23:52:21.9250,2019-08-31 23:54:28.5820,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29512,Subscriber,1998,1
48710,690,2019-08-31 23:56:55.1530,2019-09-01 00:08:25.2370,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,26223,Subscriber,1992,1

In [49]:
jc_aug1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48711 entries, 0 to 48710
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             48711 non-null  int64
 1   starttime                48711 non-null  object
 2   stoptime                 48711 non-null  object
 3   start station id         48711 non-null  int64
 4   start station name       48711 non-null  object
 5   start station latitude   48711 non-null  float64
 6   start station longitude  48711 non-null  float64
 7   end station id           48711 non-null  int64
 8   end station name         48711 non-null  object
 9   end station latitude     48711 non-null  float64
 10  end station longitude    48711 non-null  float64
 11  bikeid                   48711 non-null  int64
 12  usertype                 48711 non-null  object
 13  birth year               48711 non-null  int64
 14  gender                   48711 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 5.6+ MB

In [50]:
jc_aug2= "JC/aug_2020.csv"
jc_aug2_df = pd.read_csv(jc_aug2)
jc_aug2_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,561,2020-08-01 00:00:16.5960,2020-08-01 00:09:38.5610,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42303,Customer,1994,2
1,236,2020-08-01 00:00:46.3900,2020-08-01 00:04:42.8890,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44989,Subscriber,1996,1
2,384,2020-08-01 00:02:38.9250,2020-08-01 00:09:03.7590,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,41696,Subscriber,1984,2
3,1302,2020-08-01 00:03:27.0270,2020-08-01 00:25:09.2120,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42310,Customer,1993,1
4,5561,2020-08-01 00:03:57.4810,2020-08-01 01:36:38.5000,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42346,Customer,1995,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43262,162,2020-08-31 23:43:15.8540,2020-08-31 23:45:58.4550,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
43263,400,2020-08-31 23:46:19.9130,2020-08-31 23:53:00.3610,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
43264,288,2020-08-31 23:47:16.8680,2020-08-31 23:52:05.5550,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
43265,199,2020-08-31 23:50:37.2650,2020-08-31 23:53:56.9490,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
43266,333,2020-08-31 23:55:30.8050,2020-09-01 00:01:04.4110,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2

In [51]:
jc_aug2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43267 entries, 0 to 43266
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             43267 non-null  int64
 1   starttime                43267 non-null  object
 2   stoptime                 43267 non-null  object
 3   start station id         43267 non-null  int64
 4   start station name       43267 non-null  object
 5   start station latitude   43267 non-null  float64
 6   start station longitude  43267 non-null  float64
 7   end station id           43267 non-null  int64
 8   end station name         43267 non-null  object
 9   end station latitude     43267 non-null  float64
 10  end station longitude    43267 non-null  float64
 11  bikeid                   43267 non-null  int64
 12  usertype                 43267 non-null  object
 13  birth year               43267 non-null  int64
 14  gender                   43267 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 5.0+ MB

In [52]:
jc_aug_df = pd.concat([jc_aug1_df, jc_aug2_df],0)
jc_aug_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,2019-08-01 00:23:06.9910,2019-08-01 00:25:59.1480,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,2019-08-01 00:23:28.6170,2019-08-01 00:32:13.7000,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,2019-08-01 00:32:36.1410,2019-08-01 00:36:15.2730,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717733,-74.043845,29598,Subscriber,1988,1
4,262,2019-08-01 00:41:26.6700,2019-08-01 00:45:49.3530,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43262,162,2020-08-31 23:43:15.8540,2020-08-31 23:45:58.4550,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
43263,400,2020-08-31 23:46:19.9130,2020-08-31 23:53:00.3610,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
43264,288,2020-08-31 23:47:16.8680,2020-08-31 23:52:05.5550,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
43265,199,2020-08-31 23:50:37.2650,2020-08-31 23:53:56.9490,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
43266,333,2020-08-31 23:55:30.8050,2020-09-01 00:01:04.4110,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2

In [53]:
jc_aug_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91978 entries, 0 to 43266
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             91978 non-null  int64
 1   starttime                91978 non-null  object
 2   stoptime                 91978 non-null  object
 3   start station id         91978 non-null  int64
 4   start station name       91978 non-null  object
 5   start station latitude   91978 non-null  float64
 6   start station longitude  91978 non-null  float64
 7   end station id           91978 non-null  int64
 8   end station name         91978 non-null  object
 9   end station latitude     91978 non-null  float64
 10  end station longitude    91978 non-null  float64
 11  bikeid                   91978 non-null  int64
 12  usertype                 91978 non-null  object
 13  birth year               91978 non-null  int64
 14  gender                   91978 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 13.7+ MB